@media (max-width: 1024px) {
  .flex-container {
    flex-direction: column;
  }

  .black {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
  }




  /* .left-div-2 img{
    width: 600px;
  } */


  /* .text{
    margin: 0 20%;
  } */
}

@media (max-width: 744px) {
  .flex-header {
    column-gap: 87.5px;
  }
}

@media (max-width: 480px) {
  .burger-bar {
    color: white;
    border-color: black;
    display: block;
  }

  .navigation-block,
  .btn-element {
    display: none;
  }
}

/* section */

